/* src/assets/scss/partials/_layout.vars.scss */
/*--------------------
   LAYOUT VARIABLES
--------------------*/

$header-bg-color: rgba(41, 39, 41, 0.95);
$header-height: 60px;
$main-color: #ffc209;
$main-text-color: #444444;
$main-text-line-height:  1.2em;
$secondary-text-color: hsl(0, 0%, 27%);
$secondary-text-line-height: 1.5rem;
$padding-screen-small: 3%;
$padding-screen-large: 1.5% 3%;
