/* src/assets/scss/partials/_layout.vars.scss */
/*--------------------
   LAYOUT VARIABLES
--------------------*/

$main-color: #ffc209; //linear-gradient(to bottom, #ffd428, #ffc209);
$padding-screen-small: 3%;
$padding-screen-large: 1.5% 3%;
